.accordion-button {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .accordion-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .accordion-body {
    background-color: #f9f9f9;
    padding: 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 0.3rem 0;
  }
  
  h6 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .table th {
    cursor: pointer;
  }
  
  .table th:hover {
    background-color: #f1f1f1;
  }
  