.accordion-button {
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .accordion-item {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .accordion-body {
    background-color: #f9f9f9;
    padding: 1rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    padding: 0.3rem 0;
  }
  
  h6 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .table th {
    cursor: pointer;
  }
  
  .table th:hover {
    background-color: #f1f1f1;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {  padding: 3px 5px !important;}.scoreValue{text-align:right;}.reportDtls{text-align:center !important;}
  .table-responsive {
    overflow-x: auto;
  }
  
  .table input {
    width: 100%;
  }
  
  @media (max-width: 568px) {
    .table-responsive {
      overflow-x: scroll;
    }

/* Hide scrollbar on desktop */
/* @media (min-width: 768px) {
  .table-container {
    overflow-y: hidden;
  }
} */

/* Enable scrollbar on mobile */
@media (max-width: 767px) {
  .table-container {
    overflow-y: auto;
    overflow-x: auto;
    font-size: 14px;
  }
  }
  .table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile devices */
    max-width: 100%;
     /* Ensure the container doesn't exceed the screen width */
  }
  
  /* Optional: Add some padding or margin for better spacing */
  .table-responsive {
    margin-bottom: 1rem;
  }
  @media (max-width: 768px) {
    .table-responsive table {
      font-size: 14px; /* Reduce font size for smaller screens */
    }
  }
  
  
}