<div class="container mt-4">
  <!-- <h2 class="text-uppercase text-center mb-4">Saved Projects</h2> -->

  <!-- Search Input -->

  <button class="btn btn-success mb-2" (click)="exportToExcel()">
    <i class="bi bi-file-earmark-excel"></i>Excel
  </button>

  <!-- Parent Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>S.No</th>
          <th (click)="sortData('projectCode')">
            <input
              type="text"
              [(ngModel)]="searchValues.projectCode"
              (keyup)="applyFilter()"
              placeholder="projectCode"
            />
            <i class="bi bi-sort-up">Project Code</i>
          </th>
          <th (click)="sortData('generatedCode')">
            <input
              type="text"
              [(ngModel)]="searchValues.portalGneratedCode"
              (keyup)="applyFilter()"
              placeholder="generatedCode"
            />
            <i class="bi bi-sort-up">Generated Code</i>
          </th>
          <th (click)="sortData('projectName')">
            <input
              type="text"
              [(ngModel)]="searchValues.projectName"
              (keyup)="applyFilter()"
              placeholder="projectName"
            />
            <i class="bi bi-sort-up">Project Name</i>
          </th>
          <th (click)="sortData('location')">
            <input
              type="text"
              [(ngModel)]="searchValues.location"
              (keyup)="applyFilter()"
              placeholder="location"
            />
            <i class="bi bi-sort-up"></i>Location
          </th>
          <th (click)="sortData('contractor')">
            <input
              type="text"
              [(ngModel)]="searchValues.contractor"
              (keyup)="applyFilter()"
              placeholder="contractor"
            />
            <i class="bi bi-sort-up"></i>Contractor
          </th>
          <th (click)="sortData('consultant')">
            <input
              type="text"
              [(ngModel)]="searchValues.consultant"
              (keyup)="applyFilter()"
              placeholder="consultant"
            />
            <i class="bi bi-sort-up"></i>Consultant
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of filteredProjects; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ project.projectCode }}</td>
          <td>{{ project.generatedCode }}/R{{ project.revision }}</td>
          <td>{{ project.projectName }}</td>
          <td>{{ project.location }}</td>
          <td>{{ project.contractor }}</td>
          <td>{{ project.consultant }}</td>
          <td>
            <button
              class="btn btn-primary"
              (click)="navigateToAddChild(project.id)"
            >
              <i class="bi bi-plus"></i> Add
            </button>
            <button
              class="btn btn-info"
              (click)="toggleChildData(i); childDataShow(project.id)"
            >
              <i class="bi bi-card-list"></i
              >{{ expandedRowIndex === i ? "Details" : "Details" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Hidden button to trigger modal -->
  <button
    id="openValidationModal"
    type="button"
    class="d-none"
    data-bs-toggle="modal"
    data-bs-target="#validationModal"
  ></button>

  <!-- Validation Warning Modal -->
  <div
    class="modal fade"
    id="validationModal"
    aria-labelledby="validationModalLabel"
    aria-hidden="true"
    data-bs-focus="false"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title fw-bold text-primary">Project Information</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            data-bs-focus="false"
          ></button>
        </div>

        <div id="modalContentToPrint" class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <p>
                <strong class="text-dark">Generated Code:</strong>
                <span class="text-muted">{{ generatedCode }}/R{{ riv }}</span>
              </p>
              <p>
                <strong class="text-dark">Project Code:</strong>
                <span class="text-muted">{{ projectCode }}</span>
              </p>
              <p>
                <strong class="text-dark">Project Name:</strong>
                <span class="text-muted">{{ projectName }}</span>
              </p>
            </div>
            <div class="col-md-6">
              <p>
                <strong class="text-dark">Contractor:</strong>
                <span class="text-muted">{{ contractor }}</span>
              </p>
              <p>
                <strong class="text-dark">Consultant:</strong>
                <span class="text-muted">{{ consultant }}</span>
              </p>
              <p>
                <strong class="text-dark">Location:</strong>
                <span class="text-muted">{{ location }}</span>
              </p>
            </div>
          </div>

          <hr />

          <div *ngIf="expandedRowIndex === expandNumber">
            <div *ngIf="projectsChild.length">
              <h5 class="text-secondary">Project Details</h5>
              <table class="table table-bordered table-hover text-center">
                <thead class="table-dark">
                  <tr>
                    <th>S.No</th>
                    <th style="text-align: left">Product Code</th>
                    <th class="text-start" style="text-align: left">
                      Flow rate (i/s)
                    </th>
                    <th class="text-start" style="text-align: left">
                      Head (m)
                    </th>
                    <th>Qty</th>
                    <th class="text-end">TotalPrice (AED)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let child of projectsChild; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td class="text-start">
                      <ng-container *ngIf="child.application">{{
                        child.application
                      }}</ng-container>
                      <ng-container *ngIf="child.configuration">
                        / {{ child.configuration }}</ng-container
                      >
                      <ng-container *ngIf="child.pumpModel">
                        / {{ child.pumpModel }}</ng-container
                      >
                      <ng-container *ngIf="child.strainer">
                        / {{ child.strainer }}</ng-container
                      >
                      <ng-container *ngIf="child.controlPanelType">
                        / {{ child.controlPanelType }}</ng-container
                      >
                      <ng-container *ngIf="child.controlPanelRelay">
                        / {{ child.controlPanelRelay }}</ng-container
                      >
                    </td>

                    <td>
                      {{ child.flow }}
                    </td>
                    <td>
                      {{ child.head }}
                    </td>
                    <td class="text-end fw-bold">{{ child.quantity }}</td>
                    <td class="text-end fw-bold">
                      {{ child.TOTALCOST | number : "1.0-2" }}
                    </td>
                    <!-- Right-aligned -->
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5" class="text-end">
                      <strong>Grand Total:</strong>
                    </td>
                    <td class="text-end">
                      <strong>{{ grandTotal | number : "1.0-2" }}</strong>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button
              (click)="printModalData()"
              class="btn btn-outline-primary btn-sm"
            >
              <i class="bi bi-printer"></i> Print
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
          <div *ngIf="!projectsChild.length">
            <p>No data available for this project.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-focus="false"
            data-bs-dismiss="modal"
          >
            OK
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
