<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-warning" href="#">Aqua-Select</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <button
            class="btn btn-outline-light d-flex align-items-center gap-2"
            (click)="navigateToHomePage()"
          >
            <i class="bi bi-house-door-fill"></i> Home
          </button>
        </li>
        <li class="nav-item">
          <button
            class="btn btn-outline-light d-flex align-items-center gap-2"
            (click)="navigateToFjPortal()"
          >
            <i class="bi bi-box-arrow-in-right"></i> Fj-Portal
          </button>
        </li>
        <li class="nav-item">
          <button
            class="btn btn-outline-light d-flex align-items-center gap-2"
            (click)="navigateToSavedProjects()"
          >
            <i class="bi bi-bookmark-fill"></i> Saved Projects
          </button>
        </li>
        <li class="nav-item">
          <button
            class="btn btn-outline-light d-flex align-items-center gap-2"
            (click)="navigateToHelp()"
          >
            <i class="bi bi-question-circle-fill"></i> Help
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
