<div class="container mt-4">
  <h2 class="text-center text-primary mb-4">
    How to Use Aqua-Flow Application
  </h2>

  <div class="row g-4">
    <div class="col-md-4">
      <div class="help-card">
        <i class="bi bi-folder-plus icon"></i>
        <h4>Create Project</h4>
        <!-- download.component.html -->
        <button class="btn btn-primary" (click)="downloadPDF()">
          Download User Manual PDF
        </button>

        <p>
          Learn how to create a new project in Aqua-Select and start working on
          your designs.
        </p>
        <p>1.click on create Project in homePage.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <i class="bi bi-save2 icon"></i>
        <h4>Saved Project</h4>
        <p>
          Understand how to save your projects and access them later for Review.
        </p>

        <p>1.you can also redirect to edit it by clicking on add button.</p>
        <p>2.you can also see the details for each revision.</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <i class="bi bi-pencil-square icon"></i>
        <h4>Add Revision</h4>
        <p>
          Know how to add revisions to an existing project for tracking changes
          over time.
        </p>
        <p>
          1.when you want to update add revision in existing project click on
          add-revision button.
        </p>
        <p>
          2.you can only add revision is project details and its calculation is
          not empty.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <i class="bi bi-clock-history icon"></i>
        <h4>See Old Revision</h4>
        <p>
          Check out previous versions of your project and restore old revisions
          if needed.
        </p>
        <p>
          1.you can also access old revision from old-revision button in create
          project page.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <i class="bi bi-printer-fill icon"></i>
        <h4>Print & Export</h4>
        <p>
          Export your project as PDF, Excel, or print directly from saved
          project page. use.
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="help-card">
        <i class="bi bi-box-arrow-in-right icon"></i>
        <h4>Login to Fj-Portal</h4>
        <p>Access the Fj-Portal to go back on the portal.</p>
      </div>
    </div>
  </div>
</div>
