h1{
    text-align: center;
    justify-content: space-around;
    color: blue;
}
.logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo-image {
    max-width: 200px; /* Adjust the width as needed */
    height: auto;
  }
  .homePage{
    text-align: left;
  }
  .fjPage{
    text-align: right;
  }